@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-gray-50 text-gray-900;
  }
}

@layer utilities {
  .animate-flash {
    animation: flash 0.5s ease-in-out infinite alternate;
  }

  @keyframes flash {
    from {
      opacity: 1;
    }
    to {
      opacity: 0.3;
    }
  }
}
